/* @import url(../homey.ink.color.css); */

/*
 * Theme by: ProgParty
 */

input {
  border: 1px solid black;
}

 #container {
   display:none;
 }

 /********************/
 /** FLOORPLAN ***/
 /********************/

#floorplan_View {
  height: 100%; 
  width: 100%;
}

#floorplan_Layout {
  height: 100%;
  margin: auto;
  width: 50%;
}

#floorplan_Canvas {
  background-repeat: no-repeat;
  height: 100%;
  max-width: 100%;
  background-size: contain;
}

#floorplan_FloorSwitcherMenu {
  position: absolute;
  top: 0;
  right: 0;
}

#floorplan_FloorSwitcherMenu > a {
  display: block;
}

 /********************/
 /** CONFIG ***/
 /********************/


#config_Layout {
  height: 100%;
  margin: auto;
  width: 50%;
}

#config_View {
  height: 100%; 
  width: 100%;
}

#config_Canvas {
  background-repeat: no-repeat;
  height: 100%;
  max-width: 100%;
  background-size: contain;
}

 /********************/
 /** CONFIGFLOOR ***/
 /********************/

#configfloor_View {
  height: 100%; 
  width: 100%;
}

#configfloor_Layout {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#configfloor_Form {
  display: flex;
  flex-direction: column;
  flex: 50%;
  padding-right: 30px;
}

#configfloor_Form input {
  width: 100%;
}

#configfloor_FloorOverview {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

 /********************/
 /** CONFIGDEVICE ***/
 /********************/

#configdevice_View {
  height: 100%; 
  width: 100%;
}

 /********************/
 /** DE REST ***/
 /********************/

#ViewSwitcherMenu {
  position: absolute;
  top: 0;
  left: 0;
}

  #ViewSwitcherMenu a {
    color: green;
  }

  #ViewSwitcherMenu ul,
  #ViewSwitcherMenu li {
    list-style: none;
  }