/* @import url(../homey.ink.color.css); */

/*
 * Theme by: ProgParty
 */

 #container {
   display:none;
 }

#floorplan_View {
  height: 100%; 
  width: 100%;
}

#floorplan_Layout {
  height: 100%;
  margin: auto;
  width: 50%;
}


#configfloor_Layout {
  height: 100%;
  margin: auto;
  width: 50%;
}


#floorplan_Canvas {
  background-repeat: no-repeat;
  background-color: crimson;
  height: 100%;
  max-width: 100%;
  background-size: contain;
}

#configfloor_Canvas {
  background-repeat: no-repeat;
  background-color: crimson;
  height: 100%;
  max-width: 100%;
  background-size: contain;
}

.view-switcher-menu {
  position: absolute;
  top: 0;
  left: 0;
}

.view-switcher-button {
  color: green;
}

.floor-switcher-menu {
  position: absolute;
  top: 0;
  right: 0;
}