<!doctype html>
<html>
  <head>
    <title>Homey Floorplan</title>
    
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=user-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <link rel="shortcut icon" href="./img/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="./img/favicon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/homey.ink.css">
    
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.athom.com/athom-api/2.1.185/athom-api.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="./js/polyfill.js"></script>
    <script type="text/javascript" src="./js/later.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.6/jsrender.min.js"></script>

    <script type="text/javascript" src="./js/homey.ink.helpers.js"></script>
    <script type="text/javascript" src="./js/homey.ink.app.js"></script>


    <script type="text/javascript" src="./js/Floorplan/floorplan.helpers.js"></script>
    <script type="text/javascript" src="./js/Floorplan/floorplan.helpers.homey.js"></script>
    <script type="text/javascript" src="./js/Floorplan/floorplan.devices.js"></script>
    <script type="text/javascript" src="./js/Floorplan/floorplan.floors.js"></script>
    <script type="text/javascript" src="./js/Floorplan/floorplan.viewswitcher.js"></script>

    <script type="text/javascript" src="./js/Floorplan/Views/floorplan.view.configdevice.js"></script>
    <script type="text/javascript" src="./js/Floorplan/Views/floorplan.view.configfloor.js"></script>
    <script type="text/javascript" src="./js/Floorplan/Views/floorplan.view.floorplan.js"></script>
  </head>
  <body>
    <script id="floorplan_CarouselItemTemplate" type="text/x-jsrender">
      <div class="carousel-item floor-with-devices" data-floor-id="{{:id}}">
        <img src="{{:img}}">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{:name}}</h5>
        </div>
        <div class="device-holder"></div>
      </div>
    </script>
    
    <script id="floorplan_DefaultCarouselTemplate" type="text/x-jsrender">
      <div class="carousel" data-ride="carousel"> 
        <div class="carousel-inner"></div>
      </div>
    </script>
    
    <script id="SingleDeviceTemplate" type="text/x-jsrender">
      <div class='single-device {{if homeyDevice.isOn}}device-on{{/if}} {{if homeyDevice.alarmIsOn || homeyDevice.alarmOpenCloseIsOn}}device-alarm-on{{/if}}' data-virtual-class='{{:homeyDevice.virtualClass}}' data-homey-class='{{:homeyDevice.class}}' data-device-id='{{:floorplanDevice.deviceId}}' style="background-image: url('https://icons-cdn.athom.com/{{:homeyDevice.iconObj.id}}-32.png'); left: {{:floorplanDevice.x}}%; top: {{:floorplanDevice.y}}%; width: 32px; height: 32px; position: absolute;">
        <div class="capabilities">
        {{if homeyDevice.temperature}}
          <div class='capability temperature'>
            <span class="value">{{:homeyDevice.temperature}}</span><span>{{:homeyDevice.temperatureUnits}}</span>
          </div>
        {{/if}}
        {{if homeyDevice.humidity}}
          <div class='capability humidity'>
            <span class="value">{{:homeyDevice.humidity}}</span><span>{{:homeyDevice.humidityUnits}}</span>
          </div>
        {{/if}}
        </div>
      </div>
    </script>

    <script id="configdevice_HomeyDeviceItemTemplate" type="text/x-jsrender">
      <div class="card" data-driver-id="{{:homeyDevice.driverId}}" data-driver-uri="{{:homeyDevice.driverUri}}" data-virtual-class="{{:homeyDevice.virtualClass}}" data-class="{{:homeyDevice.class}}">
        <div class="row"> 
            <div class="col-8"> 
              <img style="height: 32px; width: 32px;" src="https://icons-cdn.athom.com/{{:homeyDevice.iconObj.id}}-32.png" />
              {{if floorplanDevice == null}}
                {{:homeyDevice.name}}
              {{else}}
                <a class='homey-device-button' data-device-id='{{:homeyDevice.id}}' href='#'>{{:homeyDevice.name}}</a>
              {{/if}}
            </div>
            <div class="col-4">
              {{if floorplanDevice == null}}<a class='homey-device-to-floorplan-button' data-device-id='{{:homeyDevice.id}}' href='#'>Add to floorplan</a>
              {{/if}}
            </div>
            
          </div>
        </div>
      </div>
    </script>
        
    <div id="container" style="display:none;">
      
      <div id="container-inner">
        
        <div id="header">
          <div id="logo"></div>
          
          <div id="text">
            <div id="text-large"></div>
            <div id="text-small"></div>
          </div>
          
          <div id="weather">
            <div id="weather-temperature">n/a</div>
            <div id="weather-state">n/a</div>
          </div>
        </div>
        
        <div id="content">
          <div id="flows" class="favorites">
            <h2><span>Favorite Flows</span></h2>
            <div id="flows-inner" class="flows favorites-inner"></div>
          </div>
          
          <div id="devices" class="favorites">
            <h2><span>Favorite Devices</span></h2>
            <div id="devices-inner" class="devices favorites-inner"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="floorplan_View">
      <div id="floorplan_CarouselHolder">
        <img src="img/loader.gif" />
      </div>
      <div id="floorplan_FloorSwitcherMenu"></div>
    </div>

    <div id="config_View">
      <div id="config_Canvas">
      </div>
    </div>

    <div id="configfloor_View">
      <div id="configfloor_Form" class="input-group mb-3">
        <div class="input-group mb-3"><input type="text" class="form-control" id="configfloor_name" placeholder="name" value="floor name" autofocus></input></div>
        <div class="input-group mb-3"><input type="text" class="form-control" id="configfloor_order" placeholder="order" value="floor order"></input ></div>
        <div class="input-group mb-3"><input type="text" class="form-control" id="configfloor_image" placeholder="image link" value="floor plan image"></input></div>
        <div><img id="configfloor_image_plot" height="100"></div>

        <div id="configfloor_buttons">
          <div><a href="#" class="btn btn-success" data-loader="configfloor_AddFloorLoader" id="configfloor_AddFloor">Add Floor</a></div>
          <div><a href="#" class="btn btn-primary" data-loader="configfloor_UpdateFloorLoader" id="configfloor_UpdateFloor">Update Floor</a></div>
          <div><a href="#" class="btn btn-danger" data-loader="configfloor_DeleteFloorLoader" id="configfloor_DeleteFloor">Delete Floor</a></div>
        </div>
      </div>
      <div id="configfloor_FloorOverview">
        <h2>Floor overview</h2>
      </div>
    </div>

    <div id="configdevice_View">
        <div class="row">
          <div class="col-6 floor-with-devices">
            <img id="configdevice_Floor" src="img/loader.gif" />
            <div id="configdevice_DevicePlaceholder" class="device-holder"></div>
          </div>
          <div class="col-3">
            <div id="configdevice_DeviceSettings" style="display:none;">
              <h2>Device Settings</h2>
              <div id="configdevice_buttons">
                <h3 id="configdevice_DeviceName"></h3>
                <br />
                <h3>Position X</h3>
                <br />
                <input type="range" class="form-control-range slider" min="1" max="10000" value="5000" id="configdevice_DeviceLocationX"></input>
                <br />
                <h3>Position Y</h3>
                <input type="range" class="form-control-range slider" min="1" max="10000" value="5000" id="configdevice_DeviceLocationY"></input>
                <br />
                <select id="configdevice_FloorSelector" class="btn btn-secondary dropdown-toggle"></select>
                <br />
                <div id="configdevice_buttons">
                  <div><a href="#" class="btn btn-primary" data-loader="configdevice_UpdateDevice_Loader" id="configdevice_UpdateDevice">Update Device</a></div>
                  <div><a href="#" class="btn btn-danger" data-loader="configdevice_DeleteDevice_Loader" id="configdevice_DeleteDevice">Delete Device</a></div>
                </div>
            </div>
            </div>
          </div>
          <div class="col-3" style="overflow: auto;">
              <h2>Device List Homey</h2>
              <select id="configdevice_Order" class="btn btn-secondary dropdown-toggle">
                <option value="name">Op naam</option>
                <option value="type">Op merk</option>
                <option value="isadded" selected="selected">Is toegevoegd</option>
              </select>
            <div id="configdevice_DeviceListHomey">
              Homey devices worden opgehaald...
              <br /><img src="img/loader.gif" class="w64" />
            </div>
            <h2>Verdiepingen</h2>
            <nav id="configdevice_FloorSwitcherMenu" class="nav nav-pills flex-column">
              Verdiepingen worden ingeladen...
              <br />
              <img src="img/loader.gif" class="w64" />
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div id="ViewSwitcherMenu">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item"><a id="floorplan_Button" href="#">Viewer</a></li>
          <li class="nav-item"><a id="config_Button" href="#">Configuration</a></li>
          <li class="nav-item"><a id="configfloor_Button" href="#">Floor config</a></li>
          <li class="nav-item"><a id="configdevice_Button" href="#">Device config</a></li>
        </ul>
      </div>
  </body>
</html>
