<!doctype html>
<html>
  <head>
    <title>Homey Floorplan</title>
    
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=user-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <link rel="shortcut icon" href="./img/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="./img/favicon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/homey.ink.css">
    
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.athom.com/athom-api/2.1.185/athom-api.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="./js/polyfill.js"></script>
    <script type="text/javascript" src="./js/later.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.6/jsrender.min.js"></script>

    <script type="text/javascript" src="./js/homey.ink.helpers.js"></script>
    <script type="text/javascript" src="./js/homey.ink.app.js"></script>


    <script type="text/javascript" src="./js/Floorplan/floorplan.helpers.js"></script>
    <script type="text/javascript" src="./js/Floorplan/floorplan.helpers.homey.js"></script>
    <script type="text/javascript" src="./js/Floorplan/floorplan.devices.js"></script>
    <script type="text/javascript" src="./js/Floorplan/floorplan.floors.js"></script>
    <script type="text/javascript" src="./js/Floorplan/floorplan.viewswitcher.js"></script>

    <script type="text/javascript" src="./js/Floorplan/Views/floorplan.view.configdevice.js"></script>
    <script type="text/javascript" src="./js/Floorplan/Views/floorplan.view.configfloor.js"></script>
    <script type="text/javascript" src="./js/Floorplan/Views/floorplan.view.floorplan.js"></script>

    <script type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>
  </head>
  <body>
    <script id="floorplan_CarouselItemTemplate" type="text/x-jsrender">
      <div class="carousel-item floor-with-devices" data-floor-id="{{:id}}">
        <img src="{{:img}}">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{:name}}</h5>
        </div>
        <div class="device-holder"></div>
      </div>
    </script>
    
    <script id="floorplan_DefaultCarouselTemplate" type="text/x-jsrender">
      <div class="carousel slide" data-ride="carousel"> 
        <div class="carousel-inner"></div>
      </div>
    </script>

    <script id="floorplan_TokenMissingTemplate" type="text/x-jsrender">
      <div class='alert alert-warning' style='margin-left:25%;margin-right:25%'>
        Please note: no token is given for Homey.
        <div style=margin-top:20px;>
          Your token can be acquired by the following steps:
          <ol>
            <li>Visit <a href="https://homey.ink" target="_blank">https://homey.ink</a></li>
            <li>Click on 'Login' to Log in with your Athom account.</li>
            <li>Open the browsers developer tools with F12</li> 
            <li>Click open the 'Console' tab</li>
            <li>Click on the output: 'Web URL: https://app.homey.ink/?theme=web&token=<YOUR TOKEN>'</li>
            <li>Copy the token from the address bar.</li> 
          </ol>
        </div>
        <div>
          https://homeyfloorplan.azurewebsites.net/?theme=floorplan&token=
          <input type='text' id='TokenField' placeholder='Enter your token...'/>
          <a href="javascript:window.location.href='https://homeyfloorplan.azurewebsites.net/?theme=floorplan&token=' + $('#TokenField').val();" class="btn btn-primary">Visit your floorplan</a>
        </div>
      </div>
    </script>
    
    <script id="floorplan_FloorSwitcherMenuButtonTemplate" type="text/x-jsrender">
      <a class='floor-button navbar-brand align-items-center' data-floor-id='{{:id}}' href='#'>{{:name}}</a>
    </script>
    
    <script id="SingleDeviceTemplate" type="text/x-jsrender">
      <div class='single-device {{if homeyDevice.isOn}}device-on{{/if}} {{if homeyDevice.alarmIsOn || homeyDevice.alarmOpenCloseIsOn}}device-alarm-on{{/if}}' data-virtual-class='{{:homeyDevice.virtualClass}}' data-homey-class='{{:homeyDevice.class}}' data-device-id='{{:floorplanDevice.deviceId}}' style="background-image: url('https://icons-cdn.athom.com/{{:homeyDevice.iconObj.id}}-32.png'); left: {{:floorplanDevice.x}}%; top: {{:floorplanDevice.y}}%; width: 32px; height: 32px; position: absolute;">
        <div class="capabilities">
        {{if homeyDevice.temperature}}
          <div class='capability temperature'>
            <span class="value">{{:homeyDevice.temperature}}</span><span>{{:homeyDevice.temperatureUnits}}</span>
          </div>
        {{/if}}
        {{if homeyDevice.humidity}}
          <div class='capability humidity'>
            <span class="value">{{:homeyDevice.humidity}}</span><span>{{:homeyDevice.humidityUnits}}</span>
          </div>
        {{/if}}
        </div>
      </div>
    </script>

    <script id="configdevice_HomeyDeviceItemTemplate" type="text/x-jsrender">
      <div class="card" data-driver-id="{{:homeyDevice.driverId}}" data-driver-uri="{{:homeyDevice.driverUri}}" data-virtual-class="{{:homeyDevice.virtualClass}}" data-class="{{:homeyDevice.class}}">
        <div class="row"> 
            <div class="col-8"> 
              <img style="height: 32px; width: 32px;" src="https://icons-cdn.athom.com/{{:homeyDevice.iconObj.id}}-32.png" />
              {{if floorplanDevice == null}}
                {{:homeyDevice.name}}
              {{else}}
                <a class='homey-device-button' data-device-id='{{:homeyDevice.id}}' href='#'>{{:homeyDevice.name}}</a>
              {{/if}}
            </div>
            <div class="col-4">
              {{if floorplanDevice == null}}<a class='homey-device-to-floorplan-button' data-device-id='{{:homeyDevice.id}}' href='#'>Add to floorplan</a>
              {{/if}}
            </div>
            
          </div>
        </div>
      </div>
    </script>
        
    <div id="container" style="display:none;">
      
      <div id="container-inner">
        
        <div id="header">
          <div id="logo"></div>
          
          <div id="text">
            <div id="text-large"></div>
            <div id="text-small"></div>
          </div>
          
          <div id="weather">
            <div id="weather-temperature">n/a</div>
            <div id="weather-state">n/a</div>
          </div>
        </div>
        
        <div id="content">
          <div id="flows" class="favorites">
            <h2><span>Favorite Flows</span></h2>
            <div id="flows-inner" class="flows favorites-inner"></div>
          </div>
          
          <div id="devices" class="favorites">
            <h2><span>Favorite Devices</span></h2>
            <div id="devices-inner" class="devices favorites-inner"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        
        <div id="floorplan_FloorSwitcherMenu"></div>
  
        <div class="navbar-right">
          <button class="navbar-configuration" type="button" onclick="_viewswitcher.switchToView('config_View')" title="Configuration">
            <span class="navbar-configuration-icon">&#x2699;</span>
          </button>
          <button class="navbar-configuration" type="button" onclick="_viewswitcher.toggleDarkMode()" title="Toggle dark mode">
            <span class="navbar-configuration-darkmode"></span>
          </button>
        </div>
      </div>
    </div>

    <div id="floorplan_View">
      <div id="floorplan_CarouselHolder">
        <img src="img/loader.gif" />
      </div>
    </div>

    <div id="config_View" class="configuration">
      <div class="row">
        <div class="col-6">    
          <h1>Who are we?</h1>
          <p>We are Jens and Dennis, two prog-nerds from The Netherlands. We have these Pr0gParty's regularly where we create stuff. Just for fun, or to make money, or to have something usefull for our beloving girlfriends.</p>
          
          <h2>Thank you</h2>
          <p>We really appreciate that you are using the Homey Floorplan. Why? Because we have created this for ourselves and are really happy that we can make you happy.</p>
          <p>To show you our happiness, here you see a picture of us creating this awesome interface on one of our famous ProgParty's:</p>
          <p><img src="http://deresen.nl/ProgParty/foto_jens_dennis8.jpeg" class="no-dark-mode" style="width: 400px;" alt="Jens & Dennis" title="Jens & Dennis" /></p>
        </div>
        <div class="col-6">
          <h2>Donate</h2>
          <p>If you like, you can support us. Make us even more happy.</p>
          <h3>PayPal</h3>
          <p>Click on this button to donate with PayPal. </p>
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business" value="deresen@hotmail.com">
        
            <!-- Specify a Donate button. -->
            <input type="hidden" name="cmd" value="_donations">
        
            <!-- Specify details about the contribution -->
            <input type="hidden" name="item_name" value="Homey Floorplan">
            <input type="hidden" name="item_number" value="Thank you for your support!">
            <input type="hidden" name="currency_code" value="EUR">
        
            <!-- Display the payment button. -->
            <input type="image" name="submit"
            src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
            alt="Donate">
            <img alt="" width="1" height="1"
            src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
        
            </form>

            <h3>Bitcoin</h3>
            <p>Click on this button to donate with Bitcoin.</p>
            <div style="font-size:16px;margin:0 auto;width:300px" class="blockchain-btn"
                data-address="15eSARzRSThQVrncEXD8rpWMNjHsVCpEPm"
                data-shared="false">
              <div class="blockchain stage-begin">
                  <img src="https://blockchain.info/Resources/buttons/donate_64.png"/>
              </div>
              <div class="blockchain stage-loading" style="text-align:center">
                  <img src="https://blockchain.info/Resources/loading-large.gif"/>
              </div>
              <div class="blockchain stage-ready">
                    <p align="center">Please Donate To Bitcoin Address: <b>[[address]]</b></p>
                    <p align="center" class="qr-code"></p>
              </div>
              <div class="blockchain stage-paid">
                    Donation of <b>[[value]] BTC</b> Received. Thank You.
              </div>
              <div class="blockchain stage-error">
                  <font color="red">[[error]]</font>
              </div>
            </div>

            <h3>Etherium</h3>
            <p>Click on this button to donate with Etherium.</p>
            <a href="https://etherdonation.com/d?to=0x95EE3b74C70552F195d1519B02Dc1A653B979A82&amount=0.01337" target="_blank" title="Donate ETH"><img src="https://etherdonation.com/i/btn/donate-btn.png" alt="Donate ETH"/></a>
        </div>
      </div>
    </div>

    <div id="configfloor_View" class="configuration">
      <div id="configfloor_Form" class="input-group mb-3">
        
        <div class="row">
          <div class="col-9">
            <h1>Configure the floors</h1>
            <p>In order to show off your Homey configuration on a nice floorplan, you need to configure your floors. Add as many floors as you like. You must provide an image to each floor, this image will be used to show your devices.</p>

            <label for="configfloor_name">
              <b>Name of your floor</b>
              <br />You can give your floor a name. This way you can identify your floor quickly.
            </label>
            <div class="input-group mb-3"><input type="text" class="form-control" id="configfloor_name" placeholder="Name of the floor" autofocus></input></div>
            
            <label for="configfloor_order">
              <b>Floor order</b>
              <br />You can sort your floors by assigning an order number.
            </label>
            <div class="input-group mb-3"><input type="text" class="form-control" id="configfloor_order" placeholder="Order number" ></input ></div>
            
            <label for="configfloor_image">
              <b>Floor image url</b>
              <br />Please provide a valid url to an image. This is the image that is shown as your floor. If you don't have a clue, please use this one to start with: <u>http://www.deresen.nl/ProgParty/Sample-floor.png</u>
            </label>
            <div class="input-group mb-3"><input type="text" class="form-control" id="configfloor_image" placeholder="Floor image"></input></div>
          </div>
          <div class="col-3">
            <div><img id="configfloor_image_plot" height="100"></div>

            <div id="configfloor_buttons">
              <div><a href="#" class="btn btn-success" data-loader="configfloor_AddFloorLoader" id="configfloor_AddFloor">Add Floor</a></div>
              <div><a href="#" class="btn btn-primary" data-loader="configfloor_UpdateFloorLoader" id="configfloor_UpdateFloor">Update Floor</a></div>
              <div><a href="#" class="btn btn-danger" data-loader="configfloor_DeleteFloorLoader" id="configfloor_DeleteFloor">Delete Floor</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="configdevice_View" class="configuration">
        <div class="row">
          <div class="col-6 floor-with-devices">
            <img id="configdevice_Floor" src="img/loader.gif" />
            <div id="configdevice_DevicePlaceholder" class="device-holder"></div>
          </div>
          <div class="col-3">
            <div id="configdevice_DeviceSettings" style="display:none;">
              <h2>Device Settings</h2>
              <div id="configdevice_buttons">
                <h3 id="configdevice_DeviceName"></h3>
                <br />
                <h3>Position X</h3>
                <br />
                <input type="range" class="form-control-range slider" min="1" max="10000" value="5000" id="configdevice_DeviceLocationX"></input>
                <br />
                <h3>Position Y</h3>
                <input type="range" class="form-control-range slider" min="1" max="10000" value="5000" id="configdevice_DeviceLocationY"></input>
                <br />
                <select id="configdevice_FloorSelector" class="btn btn-secondary dropdown-toggle"></select>
                <br />
                <div id="configdevice_buttons">
                  <div><a href="#" class="btn btn-primary" data-loader="configdevice_UpdateDevice_Loader" id="configdevice_UpdateDevice">Update Device</a></div>
                  <div><a href="#" class="btn btn-danger" data-loader="configdevice_DeleteDevice_Loader" id="configdevice_DeleteDevice">Delete Device</a></div>
                </div>
            </div>
            </div>
          </div>
          <div class="col-3" style="overflow: auto;">
              <h2>Device List Homey</h2>
              <select id="configdevice_Order" class="btn btn-secondary dropdown-toggle">
                <option value="name">Op naam</option>
                <option value="type">Op merk</option>
                <option value="isadded" selected="selected">Is toegevoegd</option>
              </select>
            <div id="configdevice_DeviceListHomey">
              Homey devices worden opgehaald...
              <br /><img src="img/loader.gif" class="w64" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="ViewSwitcherMenu">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item"><a id="floorplan_Button" class="btn btn-primary" href="#">View floorplan</a></li>
          <li class="nav-item"><a id="config_Button" class="btn btn-primary" href="#">Configuration</a></li>
          <li class="nav-item"><a id="configfloor_Button" class="btn btn-primary" href="#">Floor config</a></li>
          <li class="nav-item"><a id="configdevice_Button" class="btn btn-primary" href="#">Device config</a></li>
        </ul>
      </div>
  </body>
</html>
